  <label for="serenity">Heart of the Wild</label><input name="hotw" type="checkbox" <%= spec.attr('hotw') ? 'checked="checked"' : ''  %> /> 
  <label for="glyph_regrow">Glyph of Regrowth</label><input name="glyph_regrowth" type="checkbox" <%= spec.attr('glyph_regrowth') ? 'checked="checked"' : ''  %>/>
  <label for="glyph_wild_growth">Glyph of Wild Growth</label><input name="glyph_wild_growth" type="checkbox" <%= spec.attr('glyph_wild_growth') ? 'checked="checked"' : ''  %> /> 
  <label for="glyph_blooming">Glyph of Blooming</label><input name="glyph_blooming" type="checkbox" <%= spec.attr('glyph_blooming') ? 'checked="checked"' : ''  %> /> 
  <label for="glyph_rejuv">Glyph of Rejuvenation</label><input name="glyph_rejuv" type="checkbox" <%= spec.attr('glyph_rejuv') ? 'checked="checked"' : ''  %> /> 
