<label for="health_deficit">Health deficit percent</label><input name="health_deficit" type="input" value="<%== spec.attr('health_deficit') %>" />
<label for="resurgence">Resurgence</label><input name="resurgence" type="checkbox" <%= spec.attr('resurgence') ? 'checked="checked"' : ''  %> /> 
<label for="tidal_waves">Tidal Waves</label><input name="tidal_waves" type="checkbox" <%= spec.attr('tidal_waves') ? 'checked="checked"' : ''  %> /> 
<label for="conductivity">Conductivity</label><input name="conductivity" type="checkbox" <%= spec.attr('conductivity') ? 'checked="checked"' : ''  %> /> 
<label for="echo_elements">Echo of Elements</label><input name="echo_elements" type="checkbox" <%= spec.attr('echo_elements') ? 'checked="checked"' : ''  %> /> 
<label for="ancestral_swiftness">Ancestral Swiftness passive</label><input name="ancestral_swiftness" type="checkbox" <%= spec.attr('ancestral_swiftness') ? 'checked="checked"' : ''  %> /> 
<label for="glyph_riptide">Glyph of Riptide</label><input name="glyph_riptide" type="checkbox" <%= spec.attr('glyph_riptide') ? 'checked="checked"' : ''  %> /> 
<label for="chain_heal_riptide">CH buffed by Riptide</label><input name="chain_heal_riptide" type="checkbox" <%= spec.attr('chain_heal_riptide') ? 'checked="checked"' : ''  %> /> 
<label for="earth_shield_buff">Earth Shield buffs heals</label><input name="earth_shield_buff" type="checkbox" <%= spec.attr('earth_shield_buff') ? 'checked="checked"' : ''  %> /> 
<label for="t14_2p_shaman">T14 2piece</label><input name="t14_2p_shaman" type="checkbox" <%= spec.attr('t14_2p_shaman') ? 'checked="checked"' : ''  %> /> 

