<% specs.each(function(spec) { %>
  <div class="spec" <%= (el) -> can.data(el, 'spec', spec) %> >
    <img src=<%== '"images/'+spec.attr('icon')+'"' %> /><h4><%= spec.name %></h4>
    <ul><li><a>Settings</a></li>
    <div class="settings">
    <%== can.view.render(['views/specs',spec.name,'.ejs'].join(''), {spec: spec}) %>
    </div>
    <li><a>Stats</a></li>
    <div class="stats">
      <label>Intellect</label><input type="input" id="int" value="<%= spec.attr('int'); %>"/ >
      <label>Crit Percent</label><input type="input" id="crit" value="<%= spec.attr('crit'); %>"/ >
      <label>Haste Percent</label><input type="input" id="haste" value="<%= spec.attr('haste'); %>"/ >
      <label>Mastery Percent</label><input type="input" id="mast" value="<%= spec.attr('mast'); %>"/ >
      <label>Spellpower</label><input type="input" id="sp" value="<%= spec.attr('sp'); %>"/ >
    </div>
    </ul>
    <div <%= (el) -> can.data(el, 'spec', spec) %> class="haste_bar_cont" id="haste_bar_<%= spec.attr('name'); %>" >
      
    </div>
  </div>
<% }) %>