<select>
  <option value="inner_fire" <%= spec.attr('inner_fire') ? 'selected="selected"' : '' %>>Inner Fire</option>
  <option value="inner_will" <%= spec.attr('inner_fire') ? '' : 'selected="selected"' %>>Inner Will</option>
</select>
<label for="serenity">Serenity Chakra</label><input name="serenity" type="checkbox" <%= spec.attr('serenity') ? 'checked="checked"' : ''  %> /> 
<label for="sanctuary">Sanctuary Chakra</label><input name="sanctuary" type="checkbox" <%= spec.attr('sanctuary') ? 'checked="checked"' : ''  %> /> 
<label for="cascade_range_holy">Avg Cascade Range</label><input name="cascade_range_holy" type="input" value="<%== spec.attr('cascade_range_holy') %>" />
<label for="poh_targets_holy">PoH Targets</label><input name="poh_targets_holy" type="input" value="<%== spec.attr('poh_targets_holy') %>" />
<label for="glyph_coh">Glyph of CoH</label><input name="glyph_coh" type="checkbox" <%= spec.attr('glyph_coh') ? 'checked="checked"' : ''  %>/>
<label for="glyph_pom_holy">Glyph of PoM</label><input name="glyph_pom_holy" type="checkbox" <%= spec.attr('glyph_pom_holy') ? 'checked="checked"' : ''  %> /> 
<label for="glyph_renew_holy">Glyph of Renew</label><input name="glyph_renew_holy" type="checkbox" <%= spec.attr('glyph_renew_holy') ? 'checked="checked"' : ''  %> /> 
