<thead>
  <th>Tick</th><th>Spell</th><th>Haste</th><th>Rating</th><th>Relative</th>
</thead>
<tbody>
<% breakpoints.each(function(breakpoint) { %>
  <tr <%= (el) -> can.data(el, 'breakpoint', breakpoint) %> class="bpoint_line <%= breakpoint.rel_rating > 0 ? 'after' : '' %>">
    <td><%= breakpoint.no %></td><td><%= breakpoint.name %></td>
    <td><%= Math.roundn((breakpoint.hastep-1) * 100, 2) %>%</td><td><%= breakpoint.rating %></td>
    <td><%= breakpoint.rel_rating %></td>
  </tr>
<% }); %>
</tbody>