<div <%= (el) -> can.data(el, 'buffs', buffs[0]) %>><a class="expandOff"><h4>Buffs</h4></a>
  <div>
    <ul><li><a class="expandOff">Raid Buffs</a>
    <div>
      <label for="buff_stats">+5% all stats<input type="checkbox" id="buff_stats"  <%= buffs.attr('stats') ? 'checked="checked"' : '' %> /></label>
      <label for="buff_mastery">+550 mastery<input type="checkbox" id="buff_mastery"  <%= buffs.attr('mastery') ? 'checked="checked"' : '' %> /></label>
      <label for="buff_haste">+5% haste<input type="checkbox" id="buff_haste"  <%= buffs.attr('haste') ? 'checked="checked"' : '' %> /></label>
      <label for="buff_crit">+5% crit chance<input type="checkbox" id="buff_crit"  <%= buffs.attr('crit') ? 'checked="checked"' : '' %> /></label>
      <label for="buff_multi">+5% multistrike<input type="checkbox" id="buff_multi"  <%= buffs.attr('multi') ? 'checked="checked"' : '' %> /></label>
      <label for="buff_vers">+3% versatility<input type="checkbox" id="buff_vers"  <%= buffs.attr('vers') ? 'checked="checked"' : '' %> /></label>
      <label for="buff_sp">+10% spellpower<input type="checkbox" id="buff_sp"  <%= buffs.attr('sp') ? 'checked="checked"' : '' %> /></label>
      <label for="buff_secondary_food">Food type<input type="checkbox" id="buff_secondary_food"  <%= buffs.attr('secondary_food') ? 'checked="checked"' : '' %> /></label>
      <label for="buff_raid_size">Raid Size<input type="input" id="buff_raid_size"  value="<%= buffs.attr('raid_size'); %>" /></label>
    </div></li>
    <li><a class="expandOff">Personal Buffs</a>
    <div>
      <label for="buff_intflask">Int flask<input type="checkbox" id="buff_intflask"  <%= buffs.attr('intflask') ? 'checked="checked"' : '' %> /></label>
      <label for="buff_stat_trinket">Stat Increasing Trinket<input type="checkbox" id="buff_stat_trinket"  <%= buffs.attr('stat_trinket') ? 'checked="checked"' : '' %> /></label>
      <label for="buff_channeled_pot">Use Channeled Pot Instead<input type="checkbox" id="buff_channeled_pot"  <%= buffs.attr('channeled_pot') ? 'checked="checked"' : '' %> /></label>
      <label for="buff_weapon_enchant">Weapon enchant<select name="weapon_enchant">
        <option value="spirit" checked>Spirit</option>
        <option value="crit">Critical Strike</option>
        <option value="mast">Mastery</option>
        <option value="haste">Haste</option>
        <option value="multi">Multistrike</option>
        <option value="vers">Versatility</option>
      </select></label>
      <label for="trinket1">Trinket 1<select name="trinket1">
        <% buffs.trinkets.each(function(trinket, ind) { %>
          <option value="<%= ind %>"><%= trinket.name %></option>
        <% }); %>
      </select></label>
      <label for="trinket2">Trinket 2<select name="trinket2">
        <% buffs.trinkets.each(function(trinket, ind) { %>
          <option value="<%= ind %>"><%= trinket.name %></option>
        <% }); %>
      </select></label>
    </div></li>
    </ul>
  </div>
</div>
