<div>
  <label for="set_ct"><span class="lbl">Cast Time</span><div class="chkbox"><input type="checkbox" id="set_ct" <%= columns.attr('ct') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_mana"><span class="lbl">Mana Cost</span><div class="chkbox"><input type="checkbox" id="set_mana" <%= columns.attr('mana') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_basedirect"><span class="lbl">Base Direct</span><div class="chkbox"><input type="checkbox" id="set_basedirect" <%= columns.attr('basedirect') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_basehot"><span class="lbl">Base Hot</span><div class="chkbox"><input type="checkbox" id="set_basehot" <%= columns.attr('basehot') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_baseshield"><span class="lbl">Base Shield</span><div class="chkbox"><input type="checkbox" id="set_baseshield" <%= columns.attr('baseshield') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_baseother"><span class="lbl">Base Other</span><div class="chkbox"><input type="checkbox" id="set_baseother" <%= columns.attr('baseother') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_baseheal"><span class="lbl">Base Heal</span><div class="chkbox"><input type="checkbox" id="set_baseheal" <%= columns.attr('baseheal') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_mixeddirect"><span class="lbl">Mixed Direct</span><div class="chkbox"><input type="checkbox" id="set_mixeddirect" <%= columns.attr('mixeddirect') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_mixedhot"><span class="lbl">Mixed Hot</span><div class="chkbox"><input type="checkbox" id="set_mixedhot" <%= columns.attr('mixedhot') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_mixedshield"><span class="lbl">Mixed Shield</span><div class="chkbox"><input type="checkbox" id="set_mixedshield" <%= columns.attr('mixedshield') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_mixedother"><span class="lbl">Mixed Other</span><div class="chkbox"><input type="checkbox" id="set_mixedother" <%= columns.attr('mixedother') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_mixedheal"><span class="lbl">Mixed Heal</span><div class="chkbox"><input type="checkbox" id="set_mixedheal" <%= columns.attr('mixedheal') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_critdirect"><span class="lbl">Critical Direct</span><div class="chkbox"><input type="checkbox" id="set_critdirect" <%= columns.attr('critdirect') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_crithot"><span class="lbl">Critical Hot</span><div class="chkbox"><input type="checkbox" id="set_crithot" <%= columns.attr('crithot') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_critshield"><span class="lbl">Critical Shield</span><div class="chkbox"><input type="checkbox" id="set_critshield" <%= columns.attr('critshield') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_critother"><span class="lbl">Critical Other</span><div class="chkbox"><input type="checkbox" id="set_critother" <%= columns.attr('critother') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_critheal"><span class="lbl">Critical Heal</span><div class="chkbox"><input type="checkbox" id="set_critheal" <%= columns.attr('critheal') ? 'checked="checked"' : '' %> /><span></span></div></label>
  </div>
  <div>
  <label for="set_avgdirect"><span class="lbl">Average Direct</span><div class="chkbox"><input type="checkbox" id="set_avgdirect" <%= columns.attr('avgdirect') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_avghot"><span class="lbl">Average Hot</span><div class="chkbox"><input type="checkbox" id="set_avghot" <%= columns.attr('avghot') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_avgshield"><span class="lbl">Average Shield</span><div class="chkbox"><input type="checkbox" id="set_avgshield" <%= columns.attr('avgshield') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_avgother"><span class="lbl">Average Other</span><div class="chkbox"><input type="checkbox" id="set_avgother" <%= columns.attr('avgother') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_avgheal"><span class="lbl">Average Heal</span><div class="chkbox"><input type="checkbox" id="set_avgheal" <%= columns.attr('avgheal') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_directps"><span class="lbl">Direct per sec</span><div class="chkbox"><input type="checkbox" id="set_directps" <%= columns.attr('directps') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_hotps"><span class="lbl">Hot per sec</span><div class="chkbox"><input type="checkbox" id="set_hotps" <%= columns.attr('hotps') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_shieldps"><span class="lbl">Shield per sec</span><div class="chkbox"><input type="checkbox" id="set_shieldps" <%= columns.attr('shieldps') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_otherps"><span class="lbl">Other per sec</span><div class="chkbox"><input type="checkbox" id="set_otherps" <%= columns.attr('otherps') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_healps"><span class="lbl">Heal per sec</span><div class="chkbox"><input type="checkbox" id="set_healps" <%= columns.attr('healps') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_directpm"><span class="lbl">Direct per mana</span><div class="chkbox"><input type="checkbox" id="set_directpm" <%= columns.attr('directpm') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_hotpm"><span class="lbl">Hot per mana</span><div class="chkbox"><input type="checkbox" id="set_hotpm" <%= columns.attr('hotpm') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_shieldpm"><span class="lbl">Shield per mana</span><div class="chkbox"><input type="checkbox" id="set_shieldpm" <%= columns.attr('shieldpm') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_otherpm"><span class="lbl">Other per mana</span><div class="chkbox"><input type="checkbox" id="set_otherpm" <%= columns.attr('otherpm') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_healpm"><span class="lbl">Heal per mana</span><div class="chkbox"><input type="checkbox" id="set_healpmbox" type="checked" i <%= columns.attr('mps') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="set_mps"><span class="lbl">Mana per sec</span><div class="chkbox"><input  type="checkbox" id="set_mps" <%= columns.attr('healpm') ? 'checked="checked"' : '' %> /><span></span></div></label>
</div>
