<span>Stat Amount: <input id="input_delta" type="input" value="<%= delta %>" /></span>
<span>2x sec. stats: <input id="chk_secondary" type="checkbox" <%= double_secondary ? checked = "checked" : "" %> /></span>
<span>Measure: <%= measure %></span>

<table>
<thead>
  <th>Stat</th><th>Relative Change</th><th>Weight</th>
</thead>
<tbody>
  <tr><td>Int    </td><td><%= results.int %>%</td><td><%= Math.roundn(results.int /results.sp, 2) %></td></tr>
  <tr><td>Sp     </td><td><%= results.sp %>%</td><td><%= Math.roundn(results.sp /results.sp, 2) %></td></tr>
  <tr><td>Crit   </td><td><%= results.crit %>%</td><td><%= Math.roundn(results.crit /results.sp, 2) %></td></tr>
  <tr><td>Mastery</td><td><%= results.mast %>%</td><td><%= Math.roundn(results.mast /results.sp, 2) %></td></tr>
  <tr><td>Haste  </td><td><%= results.haste %>%</td><td><%= Math.roundn(results.haste /results.sp, 2) %></td></tr>
  <tr><td>Spirit  </td><td><%= results.spi %>%</td><td><%= Math.roundn(results.spi /results.sp, 2) %></td></tr>
</tbody>
</table>