<div>
  <label for="filter_allspecs"><span>All Specs</span><div class="chkbox"><input id="filter_allspecs" type="checkbox" <%= filters.attr('allspecs') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="filter_disc"><span>Disc</span><div class="chkbox"><input id="filter_disc" type="checkbox" <%= filters.attr('disc') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="filter_holy"><span>Holy</span><div class="chkbox"><input id="filter_holy" type="checkbox" <%= filters.attr('holy') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="filter_pally"><span>Pally</span><div class="chkbox"><input id="filter_pally" type="checkbox" <%= filters.attr('pally') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="filter_druid"><span>Druid</span><div class="chkbox"><input id="filter_druid" type="checkbox" <%= filters.attr('druid') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="filter_shaman"><span>Shaman</span><div class="chkbox"><input  id="filter_shaman" type="checkbox" <%= filters.attr('shaman') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="filter_monk"><span>Monk</span><div class="chkbox"><input id="filter_monk" type="checkbox" <%= filters.attr('monk') ? 'checked="checked"' : '' %> /><span></span></div></label>
</div>
<div>
  <label for="filter_aoe"><span>AoE</span><div class="chkbox"><input id="filter_aoe" type="checkbox" <%= filters.attr('aoe') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="filter_single"><span>Single Target</span><div class="chkbox"><input id="filter_single" type="checkbox" <%= filters.attr('single') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="filter_instant"><span>Instant Cast</span><div class="chkbox"><input id="filter_instant" type="checkbox" <%= filters.attr('instant') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="filter_casttime"><span>Cast Time</span><div class="chkbox"><input id="filter_casttime" type="checkbox" <%= filters.attr('casttime') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="filter_cdlong"><span>Long CD</span><div class="chkbox"><input id="filter_cdlong" type="checkbox" <%= filters.attr('cdlong') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="filter_cdshort"><span>Short CD</span><div class="chkbox"><input id="filter_cdshort" type="checkbox" <%= filters.attr('cdshort') ? 'checked="checked"' : '' %> /><span></span></div></label>
  <label for="filter_cdnone"><span>No CD</span><div class="chkbox"><input id="filter_cdnone" type="checkbox" <%= filters.attr('cdnone') ? 'checked="checked"' : '' %> /><span></span></div></label>
</div>
