<div><a class="expandOff"><h4>Rotations</h4></a>
<div>
  <input type="button" id="btn_new_rotation" value="New Rotation" />
  <input type="button" id="btn_load_rotation" value="Load Rotation" />
  <input type="button" id="btn_import_rotation" value="Import Rotation" />
  <div id="new_rotation" <%= (el) -> $(el).hide(); %> ><label for="rotation_name">Name:</label><input name="rotation_name" type="input" />
  <select>
    <% specs.each(function(spec) { %>
      <option value="<%= spec.id %>"><%= spec.name %></option>
    <% })%>
  </select>
  <input type="button" id="btn_create" value="Create!" />
  </div>
  <table id="rotations_comparison">
    <thead>
      <tr><th>Spec</th><th>Name</th><th>HPS</th><th>HPM</th><th>MPS</th><th>Time to OOM</th></tr>
    </thead>
    <tbody>
      <% rotations.each(function(rotation) { %>
        <tr <%= (el) -> can.data(el, 'rotation', rotation) %>>
          <td><img src="images/<%= rotation.spec.icon %>" /></td>
          <td><%= rotation.nick %></td><td><%= rotation.results.attr('hps') %></td>
          <td><%= rotation.results.attr('hpm') %></td><td><%= rotation.results.attr('mps') %></td>
          <td><%= rotation.results.attr('toom') %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <ul>
    <!-- Rotation sections (copies of rotation.ejs) will go here -->
  </ul>
</div>

</div>
