<label for="health_deficit">Health deficit percent<input name="health_deficit" type="input" value="<%== spec.attr('health_deficit') %>" /></label>
<label for="resurgence">Resurgence<input name="resurgence" type="checkbox" <%= spec.attr('resurgence') ? 'checked="checked"' : ''  %> /></label> 
<label for="tidal_waves">Tidal Waves<input name="tidal_waves" type="checkbox" <%= spec.attr('tidal_waves') ? 'checked="checked"' : ''  %> /></label> 
<label for="conductivity">Conductivity procs<input name="conductivity" type="input" value="<%== spec.attr('conductivity') %>" /></label> 
<label for="rushing_streams">Rushing Streams<input name="rushing_streams" type="checkbox" <%= spec.attr('rushing_streams') ? 'checked="checked"' : ''  %> /></label> 
<label for="echo_elements">Echo of Elements<input name="echo_elements" type="checkbox" <%= spec.attr('echo_elements') ? 'checked="checked"' : ''  %> /></label> 
<label for="ancestral_swiftness">Ancestral Swiftness passive<input name="ancestral_swiftness" type="checkbox" <%= spec.attr('ancestral_swiftness') ? 'checked="checked"' : ''  %> /></label> 
<label for="glyph_riptide">Glyph of Riptide<input name="glyph_riptide" type="checkbox" <%= spec.attr('glyph_riptide') ? 'checked="checked"' : ''  %> /></label> 
<label for="chain_heal_riptide">CH buffed by Riptide<input name="chain_heal_riptide" type="checkbox" <%= spec.attr('chain_heal_riptide') ? 'checked="checked"' : ''  %> /></label> 
<label for="earth_shield_buff">Earth Shield buffs heals<input name="earth_shield_buff" type="checkbox" <%= spec.attr('earth_shield_buff') ? 'checked="checked"' : ''  %> /></label> 
<label for="t14_2p_shaman">T14 2piece<input name="t14_2p_shaman" type="checkbox" <%= spec.attr('t14_2p_shaman') ? 'checked="checked"' : ''  %> /></label> 
<label for="t14_4p_shaman">T14 4piece<input name="t14_4p_shaman" type="checkbox" <%= spec.attr('t14_4p_shaman') ? 'checked="checked"' : ''  %> /></label> 
<label for="t15_2p_shaman">T15 2piece<input name="t15_2p_shaman" type="checkbox" <%= spec.attr('t15_2p_shaman') ? 'checked="checked"' : ''  %> /></label> 
<label for="t15_4p_shaman">T15 4piece<input name="t15_4p_shaman" type="checkbox" <%= spec.attr('t15_4p_shaman') ? 'checked="checked"' : ''  %> /></label> 
<label for="glyph_water_shield">Glyph of Water Shield<input name="glyph_water_shield" type="checkbox" <%= spec.attr('glyph_water_shield') ? 'checked="checked"' : ''  %> /></label> 
<label for="water_shield_ppm">Water Shield ppm<input name="water_shield_ppm" type="input" value="<%== spec.attr('water_shield_ppm') %>" /></label> 

