<label for="mana_tea">Chi as Mana Tea<input name="mana_tea" type="checkbox" <%= spec.attr('mana_tea') ? 'checked="checked"' : ''  %> /></label> 
<label for="uplift_targets">Uplift Targets<input name="uplift_targets" type="input" value="<%== spec.attr('uplift_targets') %>" /></label>
<label for="revival_targets">Revival Targets<input name="revival_targets" type="input" value="<%== spec.attr('revival_targets') %>" /></label>
<label for="glyph_targeted_expulsion">Glyph of Targeted Expulsion<input name="glyph_targeted_expulsion" type="checkbox" <%= spec.attr('glyph_targeted_expulsion') ? 'checked="checked"' : ''  %> /></label> 
<label for="t14_2p_monk">T14 2piece<input name="t14_2p_monk" type="checkbox" <%= spec.attr('t14_2p_monk') ? 'checked="checked"' : ''  %> /></label> 
<label for="t15_2p_monk">T15 2piece<input name="t15_2p_monk" type="checkbox" <%= spec.attr('t15_2p_monk') ? 'checked="checked"' : ''  %> /></label> 
