<label for="bol">Beacon of Light<input name="bol" type="checkbox" <%= spec.attr('bol') ? 'checked="checked"' : ''  %> /></label>
<label for="bof">Beacon of Faith<input name="bof" type="checkbox" <%= spec.attr('bof') ? 'checked="checked"' : ''  %> /></label>
<label for="beacon_heals">ST-Heals on Beacon<input name="beacon_heals" type="checkbox" <%= spec.attr('beacon_heals') ? 'checked="checked"' : ''  %> /></label>
<label for="daybreak">Daybreak<input name="daybreak" type="checkbox" <%= spec.attr('daybreak') ? 'checked="checked"' : ''  %> /></label>
<label for="infusion_of_light">Infusion of Light<input name="infusion_of_light" type="checkbox" <%= spec.attr('infusion_of_light') ? 'checked="checked"' : ''  %> /></label>
<label for="glyph_lod">Glyph of Light of Dawn<input name="glyph_lod" type="checkbox" <%= spec.attr('glyph_lod') ? 'checked="checked"' : ''  %> /></label>
<label for="t18_4p_pally">T18 4piece<input name="t18_4p_pally" type="checkbox" <%= spec.attr('t18_4p_pally') ? 'checked="checked"' : ''  %> /></label>
