<table id="spellTable" <%= (el) -> can.data(el, 'spells', spells) %>>
  <thead>
    <th id="th_spec">Spec</th>
    <th id="th_name" class="name">Name</th>
    <th id="th_ct" data-type="ct">Cast Time</th>
    <th id="th_mana" data-type="mana">Mana</th>
    <th id="th_basedirect" data-type="basedirect">Base Direct</th>
    <th id="th_basehot" data-type="basehot">Base Hot</th>
    <th id="th_baseshield" data-type="baseshield">Base Shield</th>
    <th id="th_baseother" data-type="baseother">Base Other</th>
    <th id="th_baseheal" data-type="baseheal">Base Heal</th>
    <th id="th_mixeddirect" data-type="mixeddirect">Mixed Direct</th>
    <th id="th_mixedhot" data-type="mixedhot">Mixed Hot</th>
    <th id="th_mixedshield" data-type="mixedshield">Mixed Shield</th>
    <th id="th_mixedother" data-type="mixedother">Mixed Other</th>
    <th id="th_mixedheal" data-type="mixedheal">Mixed Heal</th>
    <th id="th_critdirect" data-type="critdirect">Critical Direct</th>
    <th id="th_crithot" data-type="crithot">Critical Hot</th>
    <th id="th_critshield" data-type="critshield">Critical Shield</th>
    <th id="th_critother" data-type="critother">Critical Other</th>
    <th id="th_critheal" data-type="critheal">Critical Heal</th>
    <th id="th_avgdirect" data-type="avgdirect">Average Direct</th>
    <th id="th_avghot" data-type="avghot">Average Hot</th>
    <th id="th_avgshield" data-type="avgshield">Average Shield</th>
    <th id="th_avgother" data-type="avgother">Average Other</th>
    <th id="th_avgheal" data-type="avgheal">Average Heal</th>
    <th id="th_directps" data-type="directps">DirectPS</th>
    <th id="th_hotps" data-type="hotps">HotPS</th>
    <th id="th_shieldps" data-type="shieldps">ShieldPS</th>
    <th id="th_otherps" data-type="otherps">OtherPS</th>
    <th id="th_healps" data-type="healps" class="sort_desc">HPS</th>
    <th id="th_directpm" data-type="directpm">DirectPM</th>
    <th id="th_hotpm" data-type="hotpm">HotPM</th>
    <th id="th_shieldpm" data-type="shieldpm">ShieldPM</th>
    <th id="th_otherpm" data-type="otherpm">OtherPM</th>
    <th id="th_healpm" data-type="healpm">HPM</th>
    <th id="th_mps" data-type="mps">MPS</th>
  </thead>
  <tbody>
<% spells.each(function(spell) { %>
  <tr class="spell spell_<%= spell.spec.name %>" <%= (el) -> can.data(el, 'spell', spell) %> >
    <td class="spec"><%== ImageLoader(spell.spec.icon) %></td>
    <td class="name"><%== ImageLoader(spell.img) %>
      <a href="http://www.wowhead.com/spell=<%= spell.item %>" target="_blank"><%= spell.name %></a></td>
    <td data-type="ct" <%= (el) -> can.data(el, 'colinfo', {fun: 'fct', name: 'Cast Time'}) %>><%= spell.attr('ct') %></td>
    <td data-type="mana" <%= (el) -> can.data(el, 'colinfo', {fun: 'fmana', name: 'Mana Cost'}) %>><%= spell.attr('mana') %></td>
    <td data-type="basedirect" <%= (el) -> can.data(el, 'colinfo', {fun: 'fbasedirect', name: 'Base Direct'}) %>><%= spell.attr('basedirect') %></td>
    <td data-type="basehot" <%= (el) -> can.data(el, 'colinfo', {fun: 'fbasehot', name: 'Base Hot'}) %>><%= spell.attr('basehot') %></td>
    <td data-type="baseshield" <%= (el) -> can.data(el, 'colinfo', {fun: 'fbaseshield', name: 'Base Shield'}) %>><%= spell.attr('baseshield') %></td>
    <td data-type="baseother" <%= (el) -> can.data(el, 'colinfo', {fun: 'fbaseother', name: 'Base Other'}) %>><%= spell.attr('baseother') %></td>
    <td data-type="baseheal" <%= (el) -> can.data(el, 'colinfo', {fun: 'fbaseheal', name: 'Base Heal'}) %>><%= spell.attr('baseheal') %></td>
    <td data-type="mixeddirect" <%= (el) -> can.data(el, 'colinfo', {fun: 'fmixeddirect', name: 'Mixed Direct'}) %>><%= spell.attr('mixeddirect') %></td>
    <td data-type="mixedhot" <%= (el) -> can.data(el, 'colinfo', {fun: 'fmixedhot', name: 'Mixed Hot'}) %>><%= spell.attr('mixedhot') %></td>
    <td data-type="mixedshield" <%= (el) -> can.data(el, 'colinfo', {fun: 'fmixedshield', name: 'Mixed Shield'}) %>><%= spell.attr('mixedshield') %></td>
    <td data-type="mixedother" <%= (el) -> can.data(el, 'colinfo', {fun: 'fmixedother', name: 'Mixed Other'}) %>><%= spell.attr('mixedother') %></td>
    <td data-type="mixedheal" <%= (el) -> can.data(el, 'colinfo', {fun: 'fmixedheal', name: 'Mixed Heal'}) %>><%= spell.attr('mixedheal') %></td>
    <td data-type="critdirect" <%= (el) -> can.data(el, 'colinfo', {fun: 'fcritdirect', name: 'Critical Direct'}) %>><%= spell.attr('critdirect') %></td>
    <td data-type="crithot" <%= (el) -> can.data(el, 'colinfo', {fun: 'fcrithot', name: 'Critical Hot'}) %>><%= spell.attr('crithot') %></td>
    <td data-type="critshield" <%= (el) -> can.data(el, 'colinfo', {fun: 'fcritshield', name: 'Critical Shield'}) %>><%= spell.attr('critshield') %></td>
    <td data-type="critother" <%= (el) -> can.data(el, 'colinfo', {fun: 'fcritother', name: 'Critical Other'}) %>><%= spell.attr('critother') %></td>
    <td data-type="critheal" <%= (el) -> can.data(el, 'colinfo', {fun: 'fcritheal', name: 'Critical Heal'}) %>><%= spell.attr('critheal') %></td>
    <td data-type="avgdirect" <%= (el) -> can.data(el, 'colinfo', {fun: 'favgdirect', name: 'Average Direct'}) %>><%= spell.attr('avgdirect') %></td>
    <td data-type="avghot" <%= (el) -> can.data(el, 'colinfo', {fun: 'favghot', name: 'Average Hot'}) %>><%= spell.attr('avghot') %></td>
    <td data-type="avgshield" <%= (el) -> can.data(el, 'colinfo', {fun: 'favgshield', name: 'Average Shield'}) %>><%= spell.attr('avgshield') %></td>
    <td data-type="avgother" <%= (el) -> can.data(el, 'colinfo', {fun: 'favgother', name: 'Average Other'}) %>><%= spell.attr('avgother') %></td>
    <td data-type="avgheal" <%= (el) -> can.data(el, 'colinfo', {fun: 'favgheal', name: 'Average Heal'}) %>><%= spell.attr('avgheal') %></td>
    <td data-type="directps" <%= (el) -> can.data(el, 'colinfo', {fun: 'fdirectps', name: 'HPS'}) %>><%= spell.attr('directps') %></td>
    <td data-type="hotps" <%= (el) -> can.data(el, 'colinfo', {fun: 'fhotps', name: 'HPS'}) %>><%= spell.attr('hotps') %></td>
    <td data-type="shieldps" <%= (el) -> can.data(el, 'colinfo', {fun: 'fshieldps', name: 'HPS'}) %>><%= spell.attr('shieldps') %></td>
    <td data-type="otherps" <%= (el) -> can.data(el, 'colinfo', {fun: 'fotherps', name: 'HPS'}) %>><%= spell.attr('otherps') %></td>
    <td data-type="healps" <%= (el) -> can.data(el, 'colinfo', {fun: 'fhealps', name: 'HPS'}) %>><%= spell.attr('healps') %></td>
    <td data-type="directpm" <%= (el) -> can.data(el, 'colinfo', {fun: 'fdirectpm', name: 'HPm'}) %>><%= spell.attr('directpm') %></td>
    <td data-type="hotpm" <%= (el) -> can.data(el, 'colinfo', {fun: 'fhotpm', name: 'HPm'}) %>><%= spell.attr('hotpm') %></td>
    <td data-type="shieldpm" <%= (el) -> can.data(el, 'colinfo', {fun: 'fshieldpm', name: 'HPm'}) %>><%= spell.attr('shieldpm') %></td>
    <td data-type="otherpm" <%= (el) -> can.data(el, 'colinfo', {fun: 'fotherpm', name: 'HPm'}) %>><%= spell.attr('otherpm') %></td>
    <td data-type="healpm" <%= (el) -> can.data(el, 'colinfo', {fun: 'fhealpm', name: 'HPm'}) %>><%= spell.attr('healpm') %></td>
    <td data-type="mps" <%= (el) -> can.data(el, 'colinfo', {fun: 'fmps', name: 'MPS'}) %>><%= spell.attr('mps') %></td>
  </tr>
<% }) %>
  </tbody>
</table>
